<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myscheduler"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".splashscreen.SplashScreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>
        <activity android:name=".Login.SignInActivity"></activity>
        <activity
            android:name=".Login.NewsFeedActivity"
            android:label="NewsFeed" />
        <activity
            android:name=".Login.FacebookSignInActivity"
            android:label="Facebook Login" />
        <activity android:name=".Login.GoogleSignInActivity" />
        <activity android:name=".Login.ProfilePageActivity"
            android:label="My Profile"/>
        <activity
            android:name=".Login.CreateAccountActivity"
            android:label="Create Account" />
        <activity android:name=".Notification.MainActivity"
            android:label="Notification"></activity>

        <activity android:name=".HomeScreen.Dashboard">

        </activity>



    </application>

</manifest>